*{
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

h3{
  margin: 3px 0;
  text-indent: 3px;
}

.AddApp, .DelApp, .Banner, .ListApp{
  padding: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.322);
  width: 250px;
}

.div input[type='text']{
  padding: 5px 10px;
  border: 1px solid  #bebebe;
  margin: 10px 0;
  border-radius: 3px;
  width: calc(100% - 20px);
}

.div input[type='button']{
  padding: 5px 20px;
  color: rgba(0, 0, 0, 0.568);
  background-color: rgba(127, 255, 212, 0.582);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.133);
  cursor: pointer;
}

.div input[type='button']:active{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.193);
}

ul li:nth-of-type(even){
  color: rgba(54, 53, 53, 0.808);
}


ul{
  padding: 0 20px;
}

ul li{
  padding:2px 0;
}